parameters:
    autoload_files:
        - %currentWorkingDirectory%/tests/Doctrine/Tests/Persistence/ObjectManagerDecoratorTest.php
        - %currentWorkingDirectory%/tests/Doctrine/Tests/Persistence/PersistentObjectTest.php
        - %currentWorkingDirectory%/tests/Doctrine/Tests/Persistence/Mapping/ClassMetadataFactoryTest.php
        - %currentWorkingDirectory%/tests/Doctrine/Tests/Persistence/Mapping/_files/annotation/TestClass.php
    excludes_analyse:
        - %currentWorkingDirectory%/tests/Doctrine/Tests/Persistence/Mapping/_files/TestEntity.php
    ignoreErrors:
        - '#Call to an undefined method Doctrine\\Tests\\Persistence\\TestObject#'
