parameters:
    ignoreErrors:
        -   "#^Call to an undefined method Doctrine\\\\Tests\\\\Persistence\\\\TestObject\\:\\:.+\\(\\)\\.$#"

        -
            message: "#^Parameter \\#3 \\$nsSeparator of class Doctrine\\\\Persistence\\\\Mapping\\\\Driver\\\\SymfonyFileLocator constructor expects string, null given\\.$#"
            count: 1
            path: tests/Doctrine/Tests/Persistence/Mapping/SymfonyFileLocatorTest.php
