parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method T of object\\:\\:loadMetadata\\(\\)\\.$#"
			count: 1
			path: src/Persistence/Mapping/Driver/StaticPHPDriver.php

		-
			message: "#^Call to function method_exists\\(\\) with TObjectManager of Doctrine\\\\Persistence\\\\ObjectManager and 'isUninitializedObje…' will always evaluate to true\\.$#"
			count: 1
			path: src/Persistence/ObjectManagerDecorator.php

		-
			message: "#^Doctrine\\\\Persistence\\\\Reflection\\\\EnumReflectionProperty\\:\\:__construct\\(\\) does not call parent constructor from ReflectionProperty\\.$#"
			count: 1
			path: src/Persistence/Reflection/EnumReflectionProperty.php

		-
			message: "#^Method Doctrine\\\\Persistence\\\\Reflection\\\\EnumReflectionProperty\\:\\:getDeclaringClass\\(\\) return type with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: src/Persistence/Reflection/EnumReflectionProperty.php

		-
			message: "#^Method Doctrine\\\\Persistence\\\\Reflection\\\\EnumReflectionProperty\\:\\:toEnum\\(\\) should return array\\<BackedEnum\\>\\|BackedEnum but returns array\\<BackedEnum\\|int\\|string\\>\\.$#"
			count: 1
			path: src/Persistence/Reflection/EnumReflectionProperty.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(BackedEnum\\|int\\|string\\)\\: mixed\\)\\|null, array\\{class\\-string\\<BackedEnum\\>, 'from'\\} given\\.$#"
			count: 1
			path: src/Persistence/Reflection/EnumReflectionProperty.php

		-
			message: "#^Variable property access on \\$this\\(Doctrine\\\\Persistence\\\\Reflection\\\\TypedNoDefaultRuntimePublicReflectionProperty\\)\\.$#"
			count: 1
			path: src/Persistence/Reflection/TypedNoDefaultRuntimePublicReflectionProperty.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{'Doctrine\\\\\\\\Tests…', 'Doctrine\\\\\\\\Tests\\\\\\\\ORM…', 'Doctrine\\\\\\\\Tests\\\\\\\\ORM…'\\} and array\\<int, class\\-string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Persistence/Mapping/DriverChainTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{'Doctrine\\\\\\\\Tests…', 'Other\\\\\\\\Class'\\} and array\\<int, class\\-string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Persistence/Mapping/DriverChainTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{'Foo\\\\\\\\stdClass', 'Foo\\\\\\\\sub\\\\\\\\subClass', 'Foo\\\\\\\\sub\\\\\\\\subsub…'\\} and array\\<int, class\\-string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Persistence/Mapping/SymfonyFileLocatorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with non\\-empty\\-array\\<int, 'Foo\\\\\\\\Bar\\\\\\\\subDirClass'\\|'Foo\\\\\\\\global'\\|'Foo\\\\\\\\stdClass'\\> and array\\<int, class\\-string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Persistence/Mapping/SymfonyFileLocatorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with non\\-empty\\-array\\<int, 'Foo\\\\\\\\Bar\\\\\\\\subDirClass'\\|'Foo\\\\\\\\stdClass'\\> and array\\<int, class\\-string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Persistence/Mapping/SymfonyFileLocatorTest.php

		-
			message: "#^Property Doctrine\\\\Tests\\\\Persistence\\\\RuntimePublicReflectionPropertyTestProxyMock\\:\\:\\$checkedProperty \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: tests/Persistence/RuntimePublicReflectionPropertyTest.php

		-
			message: "#^Method Doctrine\\\\Tests\\\\Persistence\\\\RuntimeReflectionPropertyTestProxyMock\\:\\:__setInitialized\\(\\) has parameter \\$initialized with no type specified\\.$#"
			count: 1
			path: tests/Persistence/RuntimeReflectionPropertyTest.php

		-
			message: "#^Property Doctrine\\\\Tests\\\\Persistence\\\\RuntimeReflectionPropertyTestProxyMock\\:\\:\\$checkedProperty \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: tests/Persistence/RuntimeReflectionPropertyTest.php

		-
			message: "#^Property Doctrine\\\\Tests_PHP74\\\\Persistence\\\\Mapping\\\\RuntimeReflectionServiceTest\\:\\:\\$nonTypedDefaultProperty is never read, only written\\.$#"
			count: 1
			path: tests_php74/Persistence/Mapping/RuntimeReflectionServiceTest.php

		-
			message: "#^Property Doctrine\\\\Tests_PHP74\\\\Persistence\\\\Mapping\\\\RuntimeReflectionServiceTest\\:\\:\\$nonTypedNoDefaultProperty is unused\\.$#"
			count: 1
			path: tests_php74/Persistence/Mapping/RuntimeReflectionServiceTest.php

		-
			message: "#^Property Doctrine\\\\Tests_PHP74\\\\Persistence\\\\Mapping\\\\RuntimeReflectionServiceTest\\:\\:\\$typedDefaultProperty is never read, only written\\.$#"
			count: 1
			path: tests_php74/Persistence/Mapping/RuntimeReflectionServiceTest.php

		-
			message: "#^Property Doctrine\\\\Tests_PHP74\\\\Persistence\\\\Mapping\\\\RuntimeReflectionServiceTest\\:\\:\\$typedNoDefaultProperty is unused\\.$#"
			count: 1
			path: tests_php74/Persistence/Mapping/RuntimeReflectionServiceTest.php

		-
			message: "#^Property Doctrine\\\\Tests_PHP74\\\\Persistence\\\\Reflection\\\\TypedFoo\\:\\:\\$id is never read, only written\\.$#"
			count: 1
			path: tests_php74/Persistence/Reflection/TypedNoDefaultReflectionPropertyTest.php
