<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
>
    <testsuites>
        <testsuite name="Doctrine Persistence Test Suite">
            <directory>tests</directory>
            <directory phpVersion="7.4" phpVersionOperator=">=">tests_php74</directory>
            <directory phpVersion="8.1" phpVersionOperator=">=">tests_php81</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
